# Delphi / RAD Studio
__history/
*.local
*.identcache
*.dsk
*.stat
*.tvsconfig
*.dproj.local
*.deployproj.local
*.res
*.dcu
*.obj
*.hpp
*.map
*.tds
*.rsm
*.drc
*.exe
*.dll
*.so
*.dylib
*.app/
Win32/
Win64/
OSX64/
OSXARM64/
Android*/
iOS*/

# App runtime data
runtime-data/
*.db
*.db-shm
*.db-wal
